@tailwind base;
@tailwind components;
@tailwind utilities;

.outfit-font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}
.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

@keyframes progressBar {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.progress-bar {
  animation: progressBar 3s linear forwards;
}
