@tailwind base;
@tailwind components;
@tailwind utilities;

.outfit-font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}
.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

@keyframes progressBar {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes showbox {
  from {
    max-width: 50%;
  }
  to {
    max-width: 100%;
  }
}

.show-box {
  animation: showbox 1s linear forwards;
}

.check:checked {
  background-image: none !important;
  background-color: #21adb6 !important;
}
